{% extends 'base.html' %}

{% block content %}

<div class="search-container">
    <form method="GET" class="search-box">
        <input type="text" name="q" placeholder="Search houses...">
    </form>
</div>

<div style="padding:0 16px;">
    <h3>Explore</h3>
</div>

<div class="property-row">
    {% for property in properties %}
    <div class="property-card"
    onclick="openModal('{{ property.image.url }}','{{ property.title }}','{{ property.description }}','MWK {{ property.price }}')">
        
        <img src="{{ property.image.url }}">
        
        <div class="property-info">
            <h4>{{ property.title }}</h4>
            <p class="price">MWK {{ property.price }}</p>
        </div>

    </div>
    {% endfor %}
</div>

{% if user.role == 'landlord' %}
<a href="/properties/add/" class="fab">+</a>
{% endif %}

<!-- MODAL -->
<div id="modal" class="modal">
    <img id="modal-img">
    <div class="modal-content">
        <h2 id="modal-title"></h2>
        <p id="modal-desc"></p>
        <p class="price" id="modal-price"></p>
        <button onclick="closeModal()">Close</button>
    </div>
</div>

<!-- Bottom Nav -->
<div class="bottom-nav">
    <a href="/properties/">🏠 Home</a>
    <a href="#">🔍 Search</a>
    <a href="#">👤 Profile</a>
</div>

<script>
function openModal(img, title, desc, price){
    modal.style.display = 'block';
    document.getElementById('modal-img').src = img;
    document.getElementById('modal-title').innerText = title;
    document.getElementById('modal-desc').innerText = desc;
    document.getElementById('modal-price').innerText = price;
}

function closeModal(){
    modal.style.display = 'none';
}

const modal = document.getElementById('modal');
</script>

{% endblock %}
